<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Brand</a>
        </div>

        <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="nav navbar-nav">
                <li><a href="/steve/blog/">blog</a></li>
                <li><a href="/about/">about me</a></li>
                <li><a href="/products/">products</a></li>
                <li><a href="/products/">consulting</a></li>
                <li><a href="https://github.com/stesta">open source</a></li>
            </ul>
        </div>
    </div>
</nav>
