<div class="mainmenu-wrapper">
    <div class="container">
        <nav id="mainmenu" class="mainmenu">
            <ul>
                <li class="logo-wrapper"><a href="index.html"><img src="{{ "/assets/images/logo-dark.png" | prepend: site.url }}" alt="Testa Software" /></a></li>
                <li><a href="{{ "/steve/blog/" | prepend: site.url }}">blog</a></li>
                <li><a href="{{ "/steve/" | prepend: site.url }}">about me</a></li>
                <!--<li><a href="{{ "/products/" | prepend: site.url }}">products</a></li>-->
                <li><a href="{{ "/consulting/" | prepend: site.url }}">consulting</a></li>
                <li><a href="https://github.com/stesta">open source</a></li>
            </ul>
        </nav>
    </div>
</div>
