.blog-post {
    min-height:450px;
}

/* page callouts */
.home-callout {
    background-image: url('/assets/images/computer-history-dim.jpg');
    background-size: cover;
    height:500px;
    color:#fff;
    padding-top:150px;
}

.steve-callout {
    background-image: url('/assets/images/aboutme/aboutme.jpg');
    background-size: auto;
    height:300px;
}

/* geaturettes */
.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

@media (min-width: 768px) {
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
