<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {% include dynamic_title.html %}
    <title>{% if title %}{{ title }}{% elsif page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="stylesheet" type="text/css" href="/assets/styles/theme.min.css" />
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <style>
        .hljs { 
            background: none; 
        }

        .bumper {
            background: linear-gradient(90deg,#845ec2 0,#ff6f88 50%,#ff9868);
            height: 6px;
        }
    </style>

    <!-- This tag outputs SEO meta+structured data and other important settings -->
    {% include head.html %}

</head>
<body class="{% if paginator.page > 1 %}paged archive-template{% elsif page.class %}{{ page.class }}{% else %}home-template{% endif %}">
    <div id="myOverlay" class="overlay">
        <span class="closebtn" onclick="closeSearch()" title="Close Overlay"><i class="far fa-times-circle"></i></span>
        <div class="overlay-content">
            <input id="search-input" type="text" placeholder="Search.." name="search">
            <div style="clear:both;"></div>
            <div id="results-container"></div>
        </div>
      </div>

    <div class="bumper"></div>
    <div class="site-wrapper">
        <!-- All the main content gets inserted here, index.hbs, post.hbs, etc -->
        {{ content }}

        <!-- Previous/next page links - displayed on every page -->
        {% if paginator.total_posts > site.paginate %}
            {% if page.class == 'home-template' %}
                {% include post/post_pagination.html %}
            {% elsif page.class == 'page-template' %}
                {% include post/post_pagination.html %}
            {% elsif page.class == 'author-template' %}
                {% include post/author_pagination.html %}
            {% elsif page.class == 'tag-template' %}
                {% include post/tag_pagination.html %}
            {% else %}
                {% include post/post_pagination.html %}
            {% endif %}
        {% endif %}

        <!-- The footer at the very bottom of the screen -->
        <footer class="site-footer outer">
            <div class="site-footer-content inner">
                <section class="copyright"><a href="{{ site.url }}/">{{ site.title }}</a> &copy; {{  site.time | date: '%Y' }}</section>
                <nav class="site-footer-nav">
                    <a href="/">Latest Posts</a>
                    {% if site.github %}<a href="https://github.com/{{ site.github }}" target="_blank" rel="noopener">GitHub</a>{% endif %}
                    {% if site.twitter %}<a href="https://twitter.com/{{ site.twitter }}" target="_blank" rel="noopener">Twitter</a>{% endif %}
                    {% if site.facebook %}<a href="https://facebook.com/{{ site.facebook }}" target="_blank" rel="noopener">Facebook</a>{% endif %}
                </nav>
            </div>
        </footer>

    </div>

    {% include scripts/page-scripts.html %}

    {% if page.class == "post-template" %}
        {% include scripts/post-scripts.html %}
    {% endif %}
</body>
</html>
