---
layout: default
---
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left"></h1>
        <ul class="pull-right breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/steve/blog/">Blog</a></li>
            <li class="active">This Post</li>
        </ul>
    </div>
</div>

<div class="container content">		
	<div class="row blog-page blog-item">    
    	<div class="col-md-9 md-margin-bottom-40">
            <div class="blog-img">
                <!--<img class="img-responsive" src="/assets/img/sliders/4.jpg" alt="">-->
            </div>
        	<h2>{{ page.title }}</h2>
            <div class="blog-post-tags">
                <ul class="list-unstyled list-inline blog-info">
                    <li><i class="fa fa-calendar"></i> {{ page.date | date: "%b %-d, %Y" }}</li>
                    {% if page.author %}<li><i class="fa fa-pencil"></i> {{ page.author }}</li>{% endif %}
                    <li><i class="fa fa-comments"></i> <a href="#">{% include post/comments_link.html %}</a></li>
                    {% if page.categories %}<li><i class="fa fa-tags"></i> {% include post/categories.html %}</li>{% endif %}
                </ul>                    
            </div>
            
            {{ content }}
            
            <hr />

            <div id="disqus_thread" class="media">
                <h3>Comments</h3>
                <div class="media-body">
                    {% if site.disqus_short_name and page.comments == true %}
                    <section id="comment">
                        <div id="disqus_thread" aria-live="polite">{% include disqus.html %}</div>
                    </section>
                    {% endif %}
                </div>
            </div>
		</div>
		
		<div class="col-md-3">
            <div class="magazine-sb-social margin-bottom-30">
                <div class="headline headline-md"><h2>Social</h2></div>
                <ul class="social-icons social-icons-color">
                    <li><a class="social_rss" data-original-title="Feed" href="/steve/blog/feed.xml"></a></li>
                    <li><a class="social_twitter" data-original-title="Twitter" href="https://twitter.com/steven_testa" rel="me"></a></li>
                    <li><a class="social_facebook" data-original-title="Facebook" href="https://www.facebook.com/steven.testa" rel="me"></a></li>
                    <li><a class="social_googleplus" data-original-title="Goole Plus" href="https://plus.google.com/114388532024454912535/about" rel="me"></a></li>
                    <li><a class="social_linkedin" data-original-title="Linkedin" href="http://www.linkedin.com/in/stevendtesta"></a></li>
                    <li><a class="social_github" data-original-title="Github" href="{{ site.github_repo_url }}"></a></li>
                </ul>
                <div class="clearfix"></div>                
            </div>
			
			<div class="posts margin-bottom-40">
            <div class="headline headline-md"><h2>Author</h2></div>
                <p>Steve Testa <br />I am a developer, consultant, entrepreneur and self described foosball champion. I like to blog occassionally about technology, code, trends and the community.</p>
	        </div>
            
            <div class="posts margin-bottom-40">
            <div class="headline headline-md"><h2>Latest Posts</h2></div>
                {% for post in site.posts limit:3 %}
                <dl class="dl-horizontal">
                    <dt><a href="{{ post.url }}"><img src="{{ post.thumbnail }}" alt="" /></a></dt>
                    <dd>
                        <p><a href="{{ post.title }}">{{ post.title }}</a></p> 
                    </dd>
                </dl>
                {% endfor %}
            </div>
		</div>      
	</div>
</div>